<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="heading.css" />
    <link rel="stylesheet" href="../component.css" />
    <title>🐉|Heading</title>
  </head>
  <body>
    <nav>
      <div class="nav__left">
        <a href="/"
          ><img src="/assets/logo2.svg" alt="logo" class="nav__left__svg" />
          <p>Celestial Dragon</p></a
        >
      </div>
      <div class="nav__right">
        <div class="nav__right__1">
          <a href="">Design</a>
          <a href="">Development</a>
          <a href="">Component</a>
          <a href="">Blogs</a>
          <a href="">Resource</a>
        </div>
        <div class="nav__right__2">
          <a href="https://github.com/md-anas-sabah/celestial-dragon-ui">
            <i class="fab fa-github"></i>
            <p>Github</p>
          </a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="sidebar">
        <p>Components</p>
        <ul>
          <li><a href="../box/index.html">Box</a></li>
          <li><a href="../avatar/index.html">Avatar</a></li>
          <li><a href="../button/index.html">Button</a></li>
          <li><a href="../close button/index.html">Close Button</a></li>
          <li><a href="../input/index.html">Input</a></li>
          <li><a href="../alert/index.html">Alert</a></li>
          <li><a href="../text/index.html">Text</a></li>
          <li><a href="../headings/index.html">Heading</a></li>
          <li><a href="../breadcrumb/index.html">BreadCrumb</a></li>
        </ul>
      </div>
      <div class="main__container">
        <div class="main__container__header">
          <h1>Header</h1>
          <p>
            Heading is used to render semantic HTML heading elements.
          </p>
        </div>
        <div class="main__container__body">
          <h1>Import</h1>
          <div class="import">
            <p>
              <span class="light-green">import </span>
              <span class="purple">{</span> Heading
              <span class="purple__1">}</span
              ><span class="light-green">from</span>
              <span class="green"> '@celestial-ui/react'</span>
            </p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-clipboard"
              viewBox="0 0 16 16"
            >
              <path
                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"
              />
              <path
                d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"
              />
            </svg>
          </div>
          
          <h1 class="usage_h1">Usage</h1>
          <p class="usage_p"><b style="color: rgb(116, 52, 175); font-weight: 700">Heading</b> composes <b style="color: rgb(116, 52, 175); font-weight: 700">Box</b> so you can use all the style props and add responsive styles as well. It renders an <b style="color: rgb(116, 52, 175); font-weight: 700"> <span><</span>h2<span>></span></b> tag by default.</p>

          <div class="heading__container">
            <h1 class="text__4xl">(4xl)I love Celestial Dragon & React</h1>
            <h2 class="text__3xl">(3xl)I love Celestial Dragon & React</h2>
            <h3 class="text__2xl">(2xl)I love Celestial Dragon & React</h3>
            <h4 class="text__xl">(xl)I love Celestial Dragon & React</h4>
            <p class="text__lg">(lg)I love Celestial Dragon & React</p>
            <p class="text__md">(md)I love Celestial Dragon & React</p>
            <p class="text__sm">(sm)I love Celestial Dragon & React</p>
          </div>
          <div class="box__code-lg">
            <div>
              <div>
                <span class="blue"><</span><span class="yellow">Heading </span
                ><span class="green">as</span><span class="blue">='</span><span class="light-green">h1</span><span class="blue">'</span> <span class="green"><i>fontSize</i></span
                ><span class="blue">=</span><span class="blue">"</span
                ><span class="light-green">4xl</span
                ><span class="blue">"</span
                ><span class="blue">></span><span class="white">(4xl)I love Celestial Dragon & React</span><span class="blue"><</span><span class="blue">/</span><span class="yellow">Heading</span><span class="blue">></span>
              </div>
              <div>
                <span class="blue"><</span><span class="yellow">Heading </span
                ><span class="green">as</span><span class="blue">='</span><span class="light-green">h2</span><span class="blue">'</span> <span class="green"><i>fontSize</i></span
                ><span class="blue">=</span><span class="blue">"</span
                ><span class="light-green">3xl</span
                ><span class="blue">"</span
                ><span class="blue">></span><span class="white">(3xl)I love Celestial Dragon & React</span><span class="blue"><</span><span class="blue">/</span><span class="yellow">Heading</span><span class="blue">></span>
              </div>
              <div>
                <span class="blue"><</span><span class="yellow">Heading </span
                ><span class="green">as</span><span class="blue">='</span><span class="light-green">h2</span><span class="blue">'</span> <span class="green"><i>fontSize</i></span
                ><span class="blue">=</span><span class="blue">"</span
                ><span class="light-green">2xl</span
                ><span class="blue">"</span
                ><span class="blue">></span><span class="white">(2xl)I love Celestial Dragon & React</span><span class="blue"><</span><span class="blue">/</span><span class="yellow">Heading</span><span class="blue">></span>
              </div>
              <div>
                <span class="blue"><</span><span class="yellow">Heading </span
                ><span class="green">as</span><span class="blue">='</span><span class="light-green">h2</span><span class="blue">'</span> <span class="green"><i>fontSize</i></span
                ><span class="blue">=</span><span class="blue">"</span
                ><span class="light-green">xl</span
                ><span class="blue">"</span
                ><span class="blue">></span><span class="white">(xl)I love Celestial Dragon & React</span><span class="blue"><</span><span class="blue">/</span><span class="yellow">Heading</span><span class="blue">></span>
              </div>
              <div>
                <span class="blue"><</span><span class="yellow">Heading </span
                ><span class="green">as</span><span class="blue">='</span><span class="light-green">h3</span><span class="blue">'</span> <span class="green"><i>fontSize</i></span
                ><span class="blue">=</span><span class="blue">"</span
                ><span class="light-green">lg</span
                ><span class="blue">"</span
                ><span class="blue">></span><span class="white">(lg)I love Celestial Dragon & React</span><span class="blue"><</span><span class="blue">/</span><span class="yellow">Heading</span><span class="blue">></span>
              </div>
              <div>
                <span class="blue"><</span><span class="yellow">Heading </span
                ><span class="green">as</span><span class="blue">='</span><span class="light-green">h4</span><span class="blue">'</span> <span class="green"><i>fontSize</i></span
                ><span class="blue">=</span><span class="blue">"</span
                ><span class="light-green">md</span
                ><span class="blue">"</span
                ><span class="blue">></span><span class="white">(md)I love Celestial Dragon & React</span><span class="blue"><</span><span class="blue">/</span><span class="yellow">Heading</span><span class="blue">></span>
              </div>
              <div>
                <span class="blue"><</span><span class="yellow">Heading </span
                ><span class="green">as</span><span class="blue">='</span><span class="light-green">h5</span><span class="blue">'</span> <span class="green"><i>fontSize</i></span
                ><span class="blue">=</span><span class="blue">"</span
                ><span class="light-green">sm</span
                ><span class="blue">"</span
                ><span class="blue">></span><span class="white">(sm)I love Celestial Dragon & React</span><span class="blue"><</span><span class="blue">/</span><span class="yellow">Heading</span><span class="blue">></span>
              </div>
              
              
            </div>
            <div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-clipboard white"
                viewBox="0 0 16 16"
              >
                <path
                  d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"
                />
                <path
                  d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"
                />
              </svg>
            </div>
          </div>

          <h1 class="usage_h1">Override Style</h1>
          <p class="usage__p">You can change the entire style of the text via props. For example, to change the  font size, pass the <b>fontSize</b> prop. No need to write <b>css</b> or <b>styled()</b>.</p>
          <div class=" heading-container-sm">
            <h1 class="text__6xl">I'm using a custom font-size value...</>
          </div>
          <div class="box__code-sm">
            <div>
                <span class="blue"><</span><span class="yellow">Heading </span
                ><span class="green">size</span><span class="blue">='</span><span class="light-green">lg</span><span class="blue">'</span> <span class="green"><i>fontSize</i></span
                ><span class="blue">=</span><span class="blue">"</span
                ><span class="light-green">50px</span
                ><span class="blue">"</span
                ><span class="green"> color</span><span class="blue">='</span><span class="light-green">tomato</span><span class="blue">'</span><span class="blue">></span><span class="white">I'm using a custom font-size value for this text</span><span class="blue"><</span><span class="blue">/</span><span class="yellow">Text</span><span class="blue">></span>
              </div>
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-clipboard white"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"
                  />
                  <path
                    d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"
                  />
                </svg>
              </div>
          </div>
          
      </div>
    </div>
  </body>
</html>
