@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");

.box-1 {
  margin-top: 90px;
}
.box-1__outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5rem;
  border: 1px solid black;
  width: 70rem;
  align-items: center;
  border-radius: 15px;
}
.box-1__inner {
  display: flex;
  align-items: center;
  height: 4rem;
  border: 1px solid black;
  background-color: rgb(228, 66, 66);
  width: 60rem;
}
.box-1__inner > p {
  padding: 15px;
  color: #fff;
}

.box-2 {
  margin-top: 30px;
}
.box-2 > h1 {
  font-size: 16px;
}
.box-2 > p {
  margin-top: 2px;
}
.box-2__outer {
  display: flex;
  height: 4rem;
  border: 1px solid black;
  width: 70rem;
  align-items: center;
  border-radius: 15px;
  margin-top: 20px;
}
.box-2__outer > button {
  height: 2rem;
  width: 5rem;
  margin-left: 10px;
  background-color: rgb(228, 66, 66);
  border: none;
  color: white;
  font-family: "Fira Mono";
}

/* Media Query */
@media (max-width: 600px) {
  nav {
    /* width: 100vw; */
    width: 100vw;
  }
  .nav__right__1 {
    display: none;
  }
  body {
    height: 100vh;
    width: 100vw;
  }
}
/* .body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
