<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="box.css" />
    <title>🐉|Box-Components</title>
  </head>
  <body>
    <nav>
      <div class="nav__left">
        <a href="/"
          ><img src="../assets/logo2.svg" alt="logo" class="nav__left__svg" />
          <p>Celestial Dragon</p></a
        >
      </div>
      <div class="nav__right">
        <div class="nav__right__1">
          <a href="">Design</a>
          <a href="">Development</a>
          <a href="./components/box/index.html">Component</a>
          <a href="">Blogs</a>
          <a href="">Resource</a>
        </div>
        <div class="nav__right__2">
          <a href="https://github.com/md-anas-sabah/celestial-dragon-ui">
            <i class="fab fa-github"></i>
            <p>Github</p>
          </a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="sidebar">
        <p>Components</p>
        <ul>
          <li><a href="#"></a>Box</li>
          <li><a href="#"></a>Avatar</li>
          <li><a href="#"></a>Button</li>
          <li><a href="#"></a>Close Button</li>
          <li><a href="#"></a>Input</li>
          <li><a href="#"></a>Alert</li>
          <li><a href="#"></a>Text</li>
          <li><a href="#"></a>Heading</li>
          <li><a href="#"></a>Links</li>
        </ul>
      </div>
      <div class="main__container">
        <h1>hollaaa</h1>
      </div>
    </div>
  </body>
</html>
