.text__container {
  height: 40rem;
  width: 70rem;
  border: 1px solid rgb(226, 217, 217);
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  align-items: flex-start;
  border-radius: 20px;
  padding: 20px;
}
.text__6xl{
    font-size: 45px;
}
.text__5xl{
    font-size: 40px;
}
.text__4xl{
    font-size: 35px;
}
.text__3xl{
    font-size: 30px;
}
.text__2xl{
    font-size: 25px;
}
.text__xl{
    font-size: 20px;
}
.text__lg{
    font-size: 15px;
}
.text__md{
    font-size: 10px;
}
.text__sm{
    font-size: 7px;
}
.text-container-sm{
    height: 15rem !important;
}